[2017-01-21 13:07] vietj opened #4 "Missing README"

[2017-01-31 12:38] cescoffier commented on #4
Fixed in #1

[2017-02-22 21:52] cazacugmihai opened #5 "java.lang.NoClassDefFoundError: io/vertx/lang/groovy/ConversionHelper"
Hi,

I'm using `vertx-config` and `vertx-config-yaml` modules in my app and, _sometimes_, when the application starts, I've got this error:

[code]

It seems that the class is part of `vertx-lang-groovy` and I don't have it in my class path (I didn't add it because I don't use it - at least, directly).

The question is: is it mandatory to add this module in order to use the two other ones? And, wh

[2017-02-23 08:14] cescoffier commented on #5
@vietj do you know why we could have this ?

I will try to come up with a reproducer.

[2017-02-23 09:26] vietj commented on #5
it could be that the user has not vertx-lang-groovy in the classpath but still has the Groovy jar that loads the groovy extension.

[2017-02-23 10:46] cazacugmihai commented on #5
Yes, the `groovy-all` jar is present in my classpath but I think that I should't be forced to add an extra dependency (`vertx-lang-groovy`) in case of using  `vertx-config`.

[2017-02-23 12:18] vietj commented on #5
@cazacugmihai we don't enforce you to do so, let us find a better solution to that

[2017-02-23 12:22] vietj commented on #5
I beleive that the ConversionHelper code is small and generic enough to be moved somewhere in Vert.x core

[2017-02-23 12:22] vietj commented on #5
and the problem it tries to solve is converting object / object in a generic manner

[2017-02-23 12:22] vietj commented on #5
well it does reference gstring :)

[2017-02-23 12:23] vietj commented on #5
but gstring is CharSequence

[2017-02-23 12:23] cazacugmihai commented on #5
I'm sure that this was not done intentionally. Thanks for your investigation!

[2017-02-23 12:27] vietj commented on #5
nope, another way is to use an extension factory that tries to load the various classes

[2017-02-23 12:27] vietj commented on #5
but anyway just stay tuned in this thread and be ready to try a solution to confirm it's cool for you

[2017-02-23 12:28] cazacugmihai commented on #5
Sure. I'll be waiting for it. Thanks!

[2017-02-23 15:21] vietj commented on #5
@cazacugmihai can you give a try ? now the generated code should not need vertx-lang-groovy anymore. I've pushed new snapshots for `vertx-config` (the CI should deploy new snapshots also at some point).

[2017-02-23 17:21] cazacugmihai commented on #5
I'm trying right now.

[2017-02-23 17:35] cazacugmihai commented on #5
Everything works fine now. Thanks!

[2017-02-23 17:35] #5 closed

[2017-02-24 07:18] #4 closed

[2017-03-09 13:37] artefactop opened #6 "Using the Yaml Configuration Format documentation is wrong"
In http://vertx.io/docs/3.4.0.Beta1/vertx-config-yaml/java/

[code]
Must be
[code]

[2017-03-09 14:05] cescoffier commented on #6
It should also be "yaml" and no "hocon"

[2017-03-10 09:25] zerola commented on #6
It seems that examples for yaml and hocon extension are swapped + hocon example contains wrong place where the "hocon" format is set (as described by @artefactop).

[2017-03-10 14:55] #6 closed

[2017-04-13 14:42] cescoffier opened #7 "Missing ConfigMap store should return an empty json object"
Config Map stores should be marked as optional by default and return an empty json object if missing.

[2017-04-28 21:13] #7 closed

[2017-05-05 07:54] SlavoKrupa commented on #7
@spisiakm can you please add this to as a test case ?

[2017-05-08 11:53] vadimvera opened #8 "[Feature Request] Add support for HashiCorp's Vault"
It would be nice to have the possibility to retrieve some configuration/settings (more likely: *secrets*) from HashiCorp's [Vault](https://www.hashicorp.com/products/vault/).

Maybe a new `Configuration store`?

**References:** The Spring guys have something similar in the [Spring Cloud](https://github.com/spring-cloud/spring-cloud-vault) "umbrella".

[2017-05-10 15:13] nimo23 opened #9 "java.lang.IllegalStateException: Result is already complete: succeeded"
I use vertx 3.4.1.

I want to load **config.json** from file-system within a start-method of a vertical-instance:

[code]

However, I get this stacktrace:

[code]

Is this my fault?

[2017-05-10 16:34] cescoffier commented on #9
Shouldn't you read the "http.port" property as an integer and not a String. It causes a class cast exception.

[2017-05-10 17:34] nimo23 commented on #9
yes, you are right. This was my fault. Within the stacktrace there was no sign for a class cast exception..

[2017-05-10 18:19] cescoffier commented on #9
Yes, I'm actually chasing why.

[2017-05-10 18:19] cescoffier commented on #9
(don't close the issue, I will close it when I've the answer)

[2017-05-15 07:11] #9 closed

[2017-06-12 08:35] tsegismont opened #10 "Intermittent failures in CI: Unhandled exception"
Different tests fail from time to time on CI

[code]

https://vertx.ci.cloudbees.com/job/vert.x3-config/407
https://vertx.ci.cloudbees.com/job/vert.x3-config/405
https://vertx.ci.cloudbees.com/job/vert.x3-config/390

[2017-06-12 09:32] cescoffier commented on #10
It's not related to vert.x config, but it's an issue in Vert.x Core when a file access is done after (during ?) vert.x close.

[2017-06-12 09:36] cescoffier commented on #10
I will wrap the code with a try / catch and fail the future.

[2017-06-12 09:38] #10 closed

[2017-06-23 21:30] duke-cliff opened #12 "config-server should allow version to be empty"
private void parse(JsonObject body, Handler<AsyncResult<Buffer>> handler) {
    String version = body.getString("version", null);
    JsonArray sources = body.getJsonArray("propertySources", null);
    **//does not use version at all. should allow version to be null
    if (sources == null) {**
      handler.handle(Future.failedFuture("Invalid configuration server response, property sources missin

[2017-06-25 07:25] cescoffier commented on #12
Can you provide a reproducer for this issue?

Making `version` optional makes sense, I just need to be sure it's a bug and have a way to test it.

[2017-06-28 14:58] duke-cliff commented on #12
Yes. Some of our microservices are still using spring boot, including our config server is using "spring boot cloud config". The default cloud config when you setup is not including version in the json response. You can give it a try. Thanks.

[2017-06-30 07:41] #12 closed

[2017-07-06 20:05] ruslansennov opened #14 "an HttpClient is probably shared between different Verticles"
Tests shows some problems with `HttpClient` (see also vert-x3/vertx-consul-client#32):
[code]
It seems that `ConsulConfigStore`'s constructor and `get()` method called in different `Vertx` contexts. I can confirm this by check `Vertx.currentContext()` instance in both points. This patch ruslansennov/vertx-consul-client@319b78c1661083c188b2a346fbdab1784af46cd3 fixes the problem but I'm not sure tha

[2017-07-08 06:42] vietj commented on #14
the problem happens with keep-alive.

what is the code creating the HttpClient ?

[2017-07-08 06:44] vietj commented on #14
does it happen inside the same verticle or from a main/test method ?

[2017-07-10 13:26] cescoffier commented on #8
PR submitted: https://github.com/vert-x3/vertx-config/pull/15

[2017-07-11 04:07] ruslansennov commented on #14
It happens from a test methods but there is issue in `vertx-consul-client` with the same problem.
I made some experiments with [ConsulConfigStoreTest](https://github.com/vert-x3/vertx-config/blob/master/vertx-config-consul/src/test/java/io/vertx/config/consul/ConsulConfigStoreTest.java#L79):

[code]
If I run the test by executing the entire class, I see the above warning and:
[code]
But if I run t

[2017-07-11 06:02] vietj commented on #14
I think the best would be to capture a Context in consul client when it is created and then use runOnContext to use the HttpClient.

[2017-07-11 06:10] cescoffier commented on #14
I'm not sure it should be done in the consul client or in the config store. For vault I'm doing it in the config store.

[2017-07-11 15:35] brunomcustodio opened #16 "Preventing 'EnvVariablesConfigStore' from attempting to convert values."
The [`EnvVariablesConfigStore`](https://github.com/vert-x3/vertx-config/blob/master/vertx-config/src/main/java/io/vertx/config/impl/spi/EnvVariablesConfigStore.java#L46) attempts a number of conversions on the values of envvar values before making them available to the `config.getXXX` methods. For instance, if I define

[code]

as one of my environment variables it will end up in `config()` as a `

[2017-07-13 05:14] ruslansennov commented on #14
Thank you guys. Due to the issues not belongs to `vertx-config`, I decided to make all the changes in the parent project

[2017-07-13 05:14] #14 closed

[2017-07-13 06:59] cescoffier commented on #16
I may be wrong, but can't you get the number from JSON as a String:

[code]

[2017-07-13 07:01] cescoffier commented on #16
That's said, we can add an option to the Env and Sys config stores to not parse the content (read all entries as String). Something like `'json-conversion': false'

[2017-07-13 09:18] brunomcustodio commented on #16
@cescoffier that wouldn't work—you may end up with something like `"4.31543975932E11"`. Even if it wasn't the case, that would only work as long as the value stored in the envvar doesn't overflow (I'm thinking of big numerical strings).

[2017-07-13 09:54] cescoffier commented on #16
@brunomcustodio if the string representation is not a valid Java double, it will be added as a String to the json object.

[2017-07-13 09:56] brunomcustodio commented on #16
@cescoffier yes, I know, but I was talking specifically about your snippet :-)

[2017-07-13 12:20] brunomcustodio commented on #16
Let's perhaps continue this on #17.

[2017-07-13 12:20] #16 closed

[2017-07-23 15:15] InfoSec812 opened #18 "Kubernetes ConfigMap blocks the event loop"
See example [project](https://github.com/InfoSec812/vertx-configmap-example)... When I use the fabric8 maven plugin to deploy this in either our OCP cluster OR using Minishift, I get the following error repeatedly:

[code]

[2017-07-31 13:40] cescoffier commented on #8
PR merged.

[2017-07-31 13:40] #8 closed

[2017-07-31 16:15] cescoffier commented on #18
@InfoSec812 when running your project, I've:

[code]

Which is the expected output.

It's a raw minishift in a new project without any particular permission. Do I have to do something to reproduce it ?

[2017-07-31 19:32] InfoSec812 commented on #18
@cescoffier I believe that the issue was demonstrated when there was either:

1. No corresponding ConfigMap for the requested name
2. Insufficient permissions

I will try to get you a better answer as soon as I have a few moments.

[2017-07-31 22:46] InfoSec812 commented on #18
I remember now...Failing to specify the namespace is what caused it to block the event loop!

[2017-08-03 08:42] cescoffier commented on #18
Thanks for the info, gonna reproduce it right now...

[2017-08-03 09:39] #18 closed

[2017-08-03 17:20] InfoSec812 commented on #18
Woot! Thanks @cescoffier

[2017-09-20 09:20] cescoffier opened #20 "Host from configuration not passed to correctly to the Vault client"

[2017-09-20 09:20] #20 closed

[2017-10-11 13:20] marcinczeczko opened #21 "Overloading rules - shallow json merge"
Is there a reason why config retriever merges config JSONs only at depth 1 ?
I have following case where config files is pretty big, so wanted to split it into smaller fragments, and let config retriever to merge it into on. In order to simplify management of configuration of my app, I wanted to split config files into two. For instance, first config file have:
[code]
In the second one, I wanted t

[2017-10-11 13:27] cescoffier commented on #21
I believe it has already been fixed: https://github.com/vert-x3/vertx-config/commit/1d33cf9242e3e813d70969f6d510a7291a738d19#diff-068b3a4e126c877ee327bca32d49fdc8

[2017-10-11 13:33] marcinczeczko commented on #21
I didn't notice I was still using 3.4.1 that had that issue.

Thanks

[2017-10-11 13:33] #21 closed

[2017-10-18 19:02] dmolesUC3 opened #22 "Documentation shows how to read configuration, doesn't show what to do with it"
The [documentation page](http://vertx.io/docs/vertx-config/java/) does an excellent job of explaining how to read different types of configurations, but it's not at all clear what to do once you've called `retriever.getConfig()`.

The only example I could find on line was [this StackOverflow question](https://stackoverflow.com/questions/44527933/unit-testing-a-verticle-deployment), which hard-code

[2017-10-19 15:50] informedgut opened #23 "ConfigRetrieverImpl calls getConfig() in its constructor"
ConfigRetrieverImpl calls getConfig(), and with an empty handler at that. Clement agreed in the Google group that it should be taken out.  Let the application call getConfig() explicitly.

Thanks!
Iggy

[2017-10-19 16:00] informedgut commented on #23
Oh while you're at it, and let me know if you'd prefer that I create a separate issue for this, please see if you can figure out a way to allow us to configure the Vertx object itself (VertxOptions) using properties from the config store(s).  I had to jump through hoops to make it happen.  It's the chicken-or-egg issue I refer to in the Google group.  It needs a Vertx instance but I want the Vertx

[2017-10-23 07:22] cescoffier commented on #23
@informedgut yes, please create another issue for this. It's a tricky issue as the config retriever needs `vertx`. Are you looking for configuring vert.x itself or the verticle?

[2017-10-23 12:59] #23 closed

[2017-10-25 18:50] informedgut opened #24 "Allow configuring of the Vertx instance itself"
I don't know how you'd pull this off since Vertx Config requires a Vertx Instance, hence the chicken-or-egg situation.  What I've done as a workaround is have an initial ConfigRetriever that uses a temp Vertx instance.  It does the initial retrieve and then I configure Vertx using the properties from there. Then, I close the ConfigRetriever and create a new one that uses the new and configured Ver

[2017-10-25 18:51] informedgut commented on #23
Thanks, Clement.  Created issue #24 for it.

[2017-10-25 18:59] cazacugmihai commented on #24
You can extend [Launcher](https://github.com/eclipse/vert.x/blob/master/src/main/java/io/vertx/core/Launcher.java), load the configuration (e.g.: a yaml config file) and inject it into Vertx configuration but it looks more like a hack. It would be nice to have this behavior supported by the Vertx itself.

[2017-11-16 09:12] gsson opened #26 "vertx-config-git tests fail"
Running `mvn clean install` locally makes some `vertx-config-git` fail.

Failing tests below; seems to be a case sensitivity thing, but the `git log` does not reveal any changes to the error messaging:

[code]

[2017-11-16 09:18] gsson commented on #26
This makes the failure go away, but I don't know that it's the right thing to do
[code]

[2017-11-18 11:11] #26 closed

[2017-11-19 22:27] Sergey80 opened #28 "redis config - Retrieve json value - WRONGTYPE Operation against a key holding the wrong kind of value"
In redis-cli:

[code]

(the way I set it is [from the bash-script][1]: `redis-cli -x set my-config < my-microservice-config.json` ) where the my-microservice-config.json hold the json configuration.

In the code where I use `vertx-config`:

[code]

...

got error:

 checking the type of the value: it looks pretty much like **string type**

[code]

but anyways.. **the question is**: how to retrieve

[2017-11-19 22:34] Sergey80 commented on #28
Hmm.. actually I can not understand why it is **int**:

127.0.0.1:6379> exists my-microservice-config
(integer) 1
127.0.0.1:6379> get my-microservice-config
"{\n    \"http.port\": 35001\n}\n"

[2017-11-19 23:17] Sergey80 commented on #28
well I see now why: github.com/vert-x3/vertx-config/blob/master/vertx-config-red‌​is/… 

hgetall my-microservice-config (error) WRONGTYPE Operation against a key holding the wrong kind of value. I can not say it is nice though. I would love to get my json as I set it.

[2017-11-21 23:56] Sergey80 opened #29 "Listening to the changes in redis"
I would expect that this could that listens to the `my-microservice-config`'s values

Here I
1. create a redis store
2. configure retrive options (every 2 sec).
3. set the options to the retriver

Then if I change a value for the `my-microservice-config` then it would trigger the  System.out.ptintln("123") output.

This seems does not work.

Also (speaking about ConfigStoreOptions abstraction) see

[2017-11-22 07:14] cescoffier commented on #29
It should work, do you have a reproducer?

[2017-11-22 15:31] Sergey80 commented on #29
Will prepare it today.

On Wed, Nov 22, 2017, 2:14 AM Clement Escoffier, <notifications@github.com>
wrote:

[2017-11-22 20:40] tomicse opened #30 "directory configurations load does not load file contents"
Hi, I tried with different paths (for type directory), but I could not achieve to load .json or .properties files for a given path.
It works without exception, the result Map(I am not sure, if it is map) is empty.

[2017-11-23 06:06] cescoffier commented on #30
Can you provide a reproducer?

[2017-11-23 08:12] tomicse commented on #30
Hi, I used the code from example or from description with addition of .conf, but I tried without .conf too.
I tried then config directory move to another places to check, if I perhaps path not right defined.
I played with ("path", "resources/config") too, always the same Problem, Empty result.
In file I used normal property syntax: e.g. level.max_user_number=20
        ConfigStoreOptions dir = new

[2017-11-23 09:13] tomicse commented on #30
Already works. Problem was, that I have config files under src/main/resources/config directory,
if I use .setType("directory").setConfig(new JsonObject().put("path", "src/main/resources/config")
...it works, if I use .setType("directory").setConfig(new JsonObject().put("path", "config"), does not work. Is this a problem with classpath?

[2017-11-23 12:30] cescoffier commented on #30
Yes, it's a problem with the classpath. The `path` is considered relative to the `CWD` (current working directory). In your IDE it's often the project root.

[2017-11-25 16:51] cescoffier commented on #28
It's a limitation in the vert.x redis client. Can you open an issue on the project so we can add this support.

[2017-11-26 03:26] Stwissel opened #31 "Define list of variables to accept from environment"
Problem:
Reading all environment variables might "pollute" the configuration with values that are meant for other applications. Most notably the $PORT variable used in containers for the main web server.

Potential solution:

[code]

This requires to overwrite https://github.com/vert-x3/vertx-config/blob/master/vertx-config/src/main/java/io/vertx/config/impl/spi/EnvVariablesConfigStore.java like t

[2017-12-16 13:48] msrb opened #32 "Missing license headers"
Hello,

I noticed that most of the .java files in this repo are missing license headers. There is no SCM URL in pom.xml files and <licenses> tag is also missing from there. This all combined means that people who get these vertx (source-)artifacts from Maven Central need to google what the license might be, or where this repository is.

[2017-12-18 07:20] cescoffier commented on #32
I believe it's the case for most Vert.x module.

About license header, @jponge  is working on adding them.
I will add the SCM metadata and license in the pom.xml file. Notice that the LICENSE file is present in the repository.

[2017-12-18 07:21] cescoffier commented on #30
Close as reported by the user.

[2017-12-18 07:21] #30 closed

[2017-12-18 07:21] cescoffier commented on #29
Ping @Sergey80

[2018-01-02 09:13] #31 closed

[2018-01-02 09:14] cescoffier commented on #32
@msrb I've added the missing metadata and license headers.

@vietj  Do you know if the `<tag>HEAD</tag>` is updated during our release process?

[2018-01-02 10:11] Stwissel commented on #31
Awesome, thx a lot!

[2018-01-10 08:13] cescoffier opened #33 "Make the config map store not failed if the token cannot be read and optional is set to true"

[2018-01-10 08:14] cescoffier opened #34 "Allow configuring the file path from an environment / system variable"

[2018-01-10 08:14] cescoffier opened #35 "Add an optional attribute to config stores"

[2018-01-11 10:35] #33 closed

[2018-01-11 10:35] #35 closed

[2018-01-11 10:35] #34 closed

[2018-01-17 10:23] vietj opened #36 "Update zookeeper to 3.4.10"

[2018-01-17 10:24] #36 closed

[2018-01-21 14:48] InfoSec812 opened #37 "Update Documentation To Clarify Updating Configuration"
Currently, the documentation does not make it clear how to update the running configuration from inside of the application. I recently discovered from experimentation that the following appears to work:

[code]

[2018-01-21 15:30] cescoffier commented on #37
Yes it works if the ConfigRetriever is using the Context config as ConfigSource.
I agree that this should be tested and documented (there is no tests about it at the moment)

[2018-01-21 16:07] InfoSec812 commented on #37
Is there another method to store the retrieved configuration into the default Vert.x Context? I know that I could use DeploymentOptions to store config for verticles I deploy, but how would I supply a config to a, for example, Service Proxy implementation which we do not supply a DeploymentConfig to?

[2018-01-21 17:22] cescoffier commented on #37
No, as far as I know, there is no other methods. But the ConfigRetriever can use many sources of configuration. What are you trying to achieve?

[2018-01-21 20:53] InfoSec812 commented on #37
Well, I want to set the global configuration so that it is applied to
any/all verticles without having to pass a DeploymentOptions instance. Most
especially, when using Service Proxies where I cannot provide a
DeploymentConfig.

Deven

On Sun, Jan 21, 2018 at 12:22 PM, Clement Escoffier <
notifications@github.com> wrote:

--

Deven Phillips

Senior Consulting ENgineer, RED HAT OPEN INNOVATION LABS

[2018-01-21 23:06] InfoSec812 commented on #24
@cazacugmihai Except to use the ConfigRetriever you need an instance of Vertx. For the methods in Launcher where the Vertx instance is available, there is no way to set the config directly. You would have to use something like:

[code]

But that COULD be problematic depending on how you are starting/configuring your application.

[2018-01-24 22:25] jaguililla commented on #22
I think you can call `create` on `start` and hold a reference in your Verticle instance. Once loaded you probably can use `cachedConfig` for everything else. I guess this take care of previous settings loaded in `Verticle` configuration (`config()`).

If this is ok you can close the issue ;)

[2018-01-25 18:36] dmolesUC3 commented on #22
I’m afraid that’s still not clear to me -- neither exactly what I should do, nor why it would work. Is it too much to ask that the documentation show how to use the retrieved configuration?

[2018-01-25 20:49] jaguililla commented on #22
Sorry, I'm afraid I can not help you with that :(

[2018-01-26 07:37] vietj commented on #32
sorry missed the notification, what is HEAD tag ? javadoc ?

[2018-02-12 10:44] jessym opened #38 "Add a "raw-data" option for processing properties files"
This is already implemented for Environment Variables. From the [documentation](http://vertx.io/docs/vertx-config/java/#_environment_variables):

For example, I have an API key in my properties file which looks like this
[code]
But it is read like `Integer.MAX_VALUE` for some reason
[code]
which could be avoided if there was an option to read all values as strings.

[2018-02-18 23:48] StephenOTT opened #39 "JS/Javascript: ConfigRetriever returns result() in a unclassed object?"
Working with Nashorn in this example.  Loading a config.json file sitting in `$VERTICLE_HOME/conf/config.json`

Json file is:

[code]

I have a js snippet of (as based from the docs:http://vertx.io/docs/vertx-config/js/#_using_the_config_retriever:

[code]
When i do `print(config["myKey"])` it will print the value.
But when i print just `print(config)`, it will print as [Object Object].

If i run

[2018-02-19 15:43] StephenOTT commented on #39
Further review i am seeing:

https://groups.google.com/forum/#!topic/vertx/hXaEQt97eAw

which is very different from the Js docs as listed in previous post.

Additionally i am seeing in the JSDocs: http://vertx.io/docs/jsdoc/module-vertx-js_vertx-Vertx.html#getOrCreateContext

and i see: https://github.com/vert-x3/vertx-lang-js/issues/15

So.... is there a explanation of the various documentation

[2018-02-26 17:52] StephenOTT commented on #39
Going to close this issue.

The general issue that is the cause of the original post above (IMO), is from non-obvious docs on the topic: "generally speaking" the JS libs for vertx return objects as a JS object rather than a scriptObjectMirror (Usually what nashorn returns).  When you print objects you "generally" have to `JSON.stringify(myObject)` the object or it does not get printed as a string.

[2018-02-26 17:52] #39 closed

[2018-03-05 09:01] cescoffier opened #41 "`format` and `optional` not copied in the copy constructor"

[2018-03-05 12:58] #41 closed

[2018-03-15 13:08] StephenOTT opened #42 "Add capability to execute a function on each scan period execution"
The retriever.listen function is only called when a change is detected.

Would be great if we could add the ability to configure code to execute when the scan period executes.

[2018-03-15 13:09] StephenOTT opened #43 "store config docs appear out of date"
Working in JS with a YAML store,

A store must currently be configured with the `optional` property or vertx throws a null pointer exception

[code]

ref: https://github.com/vert-x3/vertx-config/blob/master/vertx-config/src/main/java/io/vertx/config/ConfigStoreOptions.java#L49

[2018-03-15 15:51] StephenOTT opened #44 "Add long polling capability for HTTP store"
Add long polling capability for HTTP store

[2018-03-16 12:58] gsson commented on #43
This also causes my existing configurations to break since the attribute was added without a default fallback.
Preferrably I'd have a default value if the attribute is missing, but I'd settle for adding a line in "Potentially breaking changes" in the change log at https://github.com/vert-x3/wiki/wiki/3.5.1-Breaking-Changes

[2018-03-16 13:17] cescoffier commented on #43
Wow... yes. Definitely, something I should have mentioned in the list of breaking change. But, I believe it's somehow a bug too as optional should be false by default.

[2018-03-16 13:36] gsson commented on #43
Yea, but it's using this one; ```  /**
   * Get the Boolean value with the specified key
   *
   * @param key  the key to return the value for
   * @return the value or null if no value for that key
   * @throws java.lang.ClassCastException if the value is not a Boolean
   */
  public Boolean getBoolean(String key) {
    Objects.requireNonNull(key);
    return (Boolean)map.get(key);
  }
[code]

[2018-05-03 14:11] ClaudenirFreitas opened #45 "Add capability to connect private repository"
It isn't posible connect to private repository using vertx-config-git.

[2018-05-03 20:33] StephenOTT commented on #43
So what is the current fix for this?

[2018-05-03 20:37] StephenOTT commented on #43
The .setoptional(false) does not even seem to work when using Java

[2018-05-15 16:47] ufoscout opened #47 "Adding multiple file stores generates a wrong JsonObject"
In my project I have two config files (one for application configuration and the other for tests):

config.json:
[code]

test-config.json:
[code]

They are loaded this way (kotlin code):
[code]

If I do not add the testFileStore to the ConfigRetrieverOptions(), everything works fine and the generated JsonObject is:
[code]

But, when I add the testFileStore then the JsonObject is wrong:
[code]

Ple

[2018-05-24 07:27] cescoffier commented on #47
Looking into it.

[2018-05-24 07:49] cescoffier commented on #47
@ufoscout I've tried to reproduce it in Java and in Kotlin but failed. Can you provide a reproducer?

[2018-05-28 08:10] vietj commented on #47
@ufoscout would you mind try this on your mappers:

[code]

and see if that fixes the problem ?

[2018-05-29 06:35] ufoscout commented on #47
@vietj
Yes, indeed adding those serializers fixes the issue. However, they are declared as private into the Json class, so there is no way to reuse them.
Nevertheless, I found a better solution. In fact, instead of overriding the Json mappers I can extend adding the KotlinModule:
[code]
This is more maintainable and works as expected.
Probably this should be reported somewhere in the kotlin suppor

[2018-05-29 06:40] vietj commented on #47
@ufoscout thanks for reporting, I think actually we will add documentation in vertx-core as this is a not only kotlin issue.

[2018-05-29 06:40] ufoscout commented on #47
@vietj
Why do you have a custom serializer for the Instant class? Shouldn't you instead register the JavaTimeModule provided by Jackson?

[2018-05-29 06:41] vietj commented on #47
@ufoscout I think @pmlopes can elaborate on it

[2018-06-21 17:51] LyndonArmitage opened #49 "TOML Support"
I've written a small library to add support for the [TOML](https://github.com/toml-lang/toml) configuration format [here](https://github.com/LyndonArmitage/vertx-config-toml) using the [toml4j library](https://github.com/mwanji/toml4j). Is there any interest in creating a pull request and adding this support to this project? It should only take a small amount of effort to add although I am unsure

[2018-06-22 07:06] cescoffier commented on #49
Oh yes, definitely welcome!

[2018-07-17 14:41] rgmz commented on #49
I'd also love to see support for TOML, if you are still interested. :smiley:

[2018-07-17 14:48] LyndonArmitage commented on #49
Apologies for leaving this message then disappearing.
I shall work on a pull request as soon as I get a chance, hopefully some time this week.

[2018-07-17 14:50] vietj commented on #49
thanks @LyndonArmitage that would be great

[2018-08-05 06:46] cescoffier commented on #47
Closing this issue, not related to vert.x config.

[2018-08-05 06:46] #47 closed

[2018-08-05 08:29] #38 closed

[2018-08-05 08:30] cescoffier commented on #38
I've added the feature for system properties and property files. The doc has been updated.

[2018-08-05 08:31] cescoffier commented on #42
Do you mean before or after the scan?

[2018-08-05 08:32] cescoffier commented on #44
Do you have a use case? Do you know an HTTP config store that would do this? It would be very useful for testing.

[2018-08-05 08:34] cescoffier commented on #45
PR merged.

[2018-08-05 08:34] #45 closed

[2018-08-05 08:35] cescoffier commented on #29
Close due to inactivity. Please reopen if you still have the issue.

[2018-08-05 08:35] #29 closed

[2018-08-05 08:37] cescoffier commented on #32
Everything has been fixed. Closing.

[2018-08-05 08:37] #32 closed

[2018-08-05 16:07] StephenOTT commented on #44
A use case I am looking at is scenarios where you are long polling a endpoint waiting for a data return: in my case it is camunda.org. Where you are long polling the camunda engine for "external tasks", where vertx is a worker.  Since making this issue,  camunda created their own http client wrapper with long polling abilities so the need is lessened on my side. But the generic use case still stan

[2018-08-05 16:09] StephenOTT commented on #42
In my case it was a before scan.  The use case was loggin: I wanted to log every time a scan occurs

[2018-08-06 07:50] cescoffier commented on #28
Closing this issue as it's a Redis client issue.

[2018-08-06 07:50] #28 closed

[2018-08-06 08:06] pmlopes commented on #28
@Sergey80 `hgetall` returns a `multi bulk` while you're storing a `bulk`.

See: https://redis.io/commands/hgetall

[2018-08-06 15:35] #22 closed

[2018-08-06 16:18] cescoffier opened #51 "Add the ability to validate the configuration"

[2018-08-06 16:19] #51 closed

[2018-08-06 16:19] cescoffier commented on #24
The configuration has been updated with an example.

[2018-08-06 16:19] #24 closed

[2018-08-06 16:19] cescoffier commented on #37
The documentation has been updated.

[2018-08-06 16:19] #37 closed

[2018-08-06 16:27] cescoffier commented on #42
@StephenOTT I've have also added:

[code]

The passed function is called after the scan and allow validating the configuration, or even update it.

[2018-08-30 10:31] SINGS079 opened #52 "Add handling for private ssh key in Git configuration."
Right now we can clone Git repo with username and password. This should add functionality of handling Git repo where we pass ssh key and ssh url as params.

[2018-09-04 06:35] #52 closed

[2018-09-09 11:17] jpiecuch opened #54 "Spring Config Server: wrong overriding order"
I've recently used lib for obtaining configuration from Spring Config Server and I think that there is critical bug in there. Basically properties overriding order is wrong. Spring uses order described here [https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html](https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.

[2018-09-09 13:43] cescoffier commented on #54
Hi, nice catch. A PR would be great!

[2018-09-09 16:13] jpiecuch commented on #54
Awesome, one other thing. Spring provide functionality to expose configuration in JSON format by calling URI /{application}-{profile}.json. By default it also resolves Spring specific placeholders (it can be disabled by provding parameter resolvePlaceholder=false). It's explained here: [https://cloud.spring.io/spring-cloud-config/multi/multi__serving_alternative_formats.html](url). I believe it wo

[2018-09-09 16:45] cescoffier commented on #54
Yes, definitely!

[2018-09-09 17:11] jpiecuch commented on #54
PR ready.

[2018-09-09 18:39] jpiecuch commented on #54
Problem solved.

[2018-09-09 18:39] #54 closed

[2018-09-24 10:14] LyndonArmitage commented on #49
Added PR. See #57

Need to be aware of what version(s) of the TOML Spec we add support for.

Apologies for the lengthy delay.

[2018-10-02 07:56] vietj opened #58 "OpenJDK11 does not build"
[code]

could not go farther

[2018-10-02 08:56] vietj opened #59 "CI build error"
on Java 8:

[code]

[2018-10-03 06:35] cescoffier commented on #59
How do you reproduce it?

[2018-10-03 07:30] cescoffier commented on #58
Fixed by removing the dependency.

I've also re-enabled the JDK 11 build.

[2018-10-17 18:07] abhi19gupta opened #60 "Feature request: Support for cookies in HTTP Config Retriever"
The HTTP configuration store used by the Config Retriever takes in just the host, port, and path (as mentioned [here ](https://vertx.io/docs/vertx-config/java/#_http)and supposedly other options mentioned [here](https://github.com/eclipse/vert.x/blob/master/src/main/java/io/vertx/core/http/HttpClientOptions.java#L246)). This feature request is for adding an option to send cookies along with the HT

[2018-10-26 07:34] eutkin commented on #60
Hi all. Why can't I just pass this information to the header?

https://gist.github.com/eutkin/3a237416b48bf6f69e3b5e534268f8da

[2018-11-13 12:01] FrodeI opened #61 "Missing unit in documentation of scanPeriod in ConfigRetrieverOptions"
The API documentation should specify that the unit of scanPeriod in ConfigRetrieverOptions is ms so developers don't have to search the source code to verify this.

https://vertx.io/docs/apidocs/io/vertx/config/ConfigRetrieverOptions.html#setScanPeriod-long-

[2018-11-27 10:47] cescoffier commented on #61
Fixed in master! Thanks for reporting, the whole class was missing the javadoc.

[2018-11-27 10:47] #61 closed

[2018-12-03 08:38] github4rocker opened #63 "Not possible to reach code to clone git repo"
As far as I can see it is not possible to reach line

https://github.com/vert-x3/vertx-config/blob/5b0134452efaaf62f60348b48c50f92ee14a18aa/vertx-config-git/src/main/java/io/vertx/config/git/GitConfigStore.java#L149

due to the fact that path is checked, if it is a file here:

https://github.com/vert-x3/vertx-config/blob/5b0134452efaaf62f60348b48c50f92ee14a18aa/vertx-config-git/src/main/java/io/ve

[2018-12-03 15:00] #63 closed

[2018-12-03 15:00] github4rocker commented on #63
Checked the code again and the attached jUnit tests and understood the code.

[2018-12-14 00:01] Trumeet opened #64 "[Git config store] META-INF conflicts"
When I implemented both `vertx-config` and `vertx-config-git` components, the original `resources/META-INF/services/io.vertx.config.spi.ConfigStoreFactory` file in `vertx-config` is overridden by the file in `vertx-config-git` which has the same name. That causes I can't use the original config stores which defined in `vertx-config` (`java.lang.IllegalArgumentException: unknown configuration store

[2018-12-14 07:30] cescoffier commented on #64
Hello,

If you use the Vert.x Maven Plugin, it will automatically combine the 2
files.
Otherwise, you need to configure your packaging process to compute a
combined file or write one.

Le ven. 14 déc. 2018 à 01:01, Yuuta <notifications@github.com> a écrit :

[2018-12-14 23:46] Trumeet commented on #64
@cescoffier Is there a maven plugin for Vertx? That's great! I'll try to use it. Thanks.

[2018-12-14 23:46] #64 closed

[2018-12-15 08:00] cescoffier commented on #64
@Trumeet here is the plugin: https://reactiverse.io/vertx-maven-plugin/

[2018-12-17 15:00] pgh70 opened #65 "Can't use multiple stores"
Unable to use multiple stores in java:

Using "vault" and "redis" gives: "(known implementations are: [redis])" if redis is first in dependencies and "(known implementations are: [vault])" if vault is first. Can't use them both.

Even when using only one additional store an error is thrown when using the "json" config store. It seems like an additional store is overwriting the available stores.

[2018-12-17 15:06] cescoffier commented on #65
Check that the META-INF/services files contain all the stores you want to use.

[2018-12-17 15:16] pgh70 commented on #65
Me bad... I did forget:

    mergeServiceFiles {
        include 'META-INF/services/io.vertx.core.spi.VerticleFactory'
    }

in my build.gradle shadowJar section...
A pointer this requirement in the documentation would be nice...

[2018-12-17 15:16] #65 closed

[2018-12-18 07:43] Ngosti2000 opened #66 "org.osgi.framework.BundleException: OSGi R3 bundle not supported"
Vertx-config cannot be installed as a bundle in OSGi container. it throws the error org.osgi.framework.BundleException: OSGi R3 bundle not supported

[2018-12-20 23:53] Trumeet opened #67 "[Git config store] Username & password authentication config is overridden by idRsa"
I'm using the `config` component with `git` config store. My config files are stored in a private git repo and I'm authentic by using username and password, which is set via:
[code]
But I'm not speified a `idRsaKeyPath` attribute, it always says I don't provide a `CredentialsProvider`:
[code]
I've checked the source code, these lines may overrides the pervious `CredentialsProvider` which is set by

[2018-12-21 07:32] cescoffier commented on #67
These lines do not override the CredentialProvider.
I'm more worried by https://github.com/vert-x3/vertx-config/blob/037932a898fa05d98886678fdada01382359cf5e/vertx-config-git/src/main/java/io/vertx/config/git/GitConfigStore.java#L155. We should check for `null` before setting them.

Can you check and open a PR?

[2018-12-22 03:51] Trumeet commented on #67
@cescoffier Sorry, I'm currently not understanding these codes enough...

[2019-01-21 03:35] aergul opened #69 "require("vertx-config-js/config_retriever") broken as of 3.6.0"
`require("vertx-config-js/config_retriever");`

works as of vertx 3.5.4 latest but appears to be broken at 3.6.0:

[code]

I believe this is due to https://github.com/vert-x3/vertx-config/commit/a6dcc913a804439064d13c2e85e549e4a53f345b where a javascript reserved word ("function") is used as a parameter name. Changing it to "handler" fixed it for me so I will send a pr.

[2019-02-02 11:53] Addvilz opened #71 "Be able to parse Consul values on read"
It would be really useful to be able to parse Consul KV values as rich data (JSON, YML) on the fly instead of always using String value.

`ConsulConfigStore:80` for reference.

I can do a PR.

[2019-02-08 09:53] #69 closed

[2019-02-11 13:53] wengertj opened #75 "IllegalArgumentException when running fat jar with additional store dependency"
Hi everybody,

I've encountered some minor issue when working with additional ConfigStores. I've created a [little example app](https://github.com/wengertj/vertx-config-error-demo) using the `Kubernetes ConfigMap Store` but the issue applies for *all* additional config stores.

According to [the documentation](https://vertx.io/docs/vertx-config/java/#_kubernetes_configmap_store) one has to include

[2019-02-11 13:55] cescoffier commented on #75
It's because of the SPI combination. Either you rewrite the SPI descriptor or just use the vertx-maven-plugin that would take care of this.

[2019-02-11 21:52] wengertj commented on #75
Ahh, very cool I just tried it and it works perfectly fine, thanks a lot!

I generated the project via start.vertx.io which did not use this plugin...yet? There is an open issue about this: https://github.com/vert-x3/vertx-starter/issues/39. Maybe I can help out with a PR there.
There is also one pending PR in the `vertx-maven-starter` repo: https://github.com/vert-x3/vertx-maven-starter/issues/3.

[2019-02-11 21:52] #75 closed

[2019-02-13 15:49] SINGS079 commented on #67
@cescoffier @Trumeet let me take a look at this issue. If anyone is working let me know here

[2019-02-14 08:32] cescoffier commented on #67
Thanks @SINGS079 !

[2019-02-25 13:19] SINGS079 commented on #67
the issue is with this line where CredentialProvider is missing in case of Username and password authenticated Repo
[https://github.com/vert-x3/vertx-config/blob/c8e66fec319d0215161715642f4c90399b34c227/vertx-config-git/src/main/java/io/vertx/config/git/GitConfigStore.java#L205](url)

[2019-03-07 04:02] akuznetsov-gridgain opened #81 "ArrayIndexOutOfBoundsException while reading hierarchical properties file with comments"
See [SO] (https://stackoverflow.com/questions/54501961/vert-x-config-exception-while-reading-properties-file-with-comments).

I investigated a little.

I think the problem is that "HierarchicalPropertiesReader.toJson()" does not expect that incoming line can be in other format that "key=val".

FlatPropertiesReader read properties via "java.util.Properties.load()" that knows how to deal with commen

[2019-03-13 14:53] jvmtomte opened #82 "Unresolved directives in Kotlin documentation"
The documentation for Kotlin is broken for additional formats and additional stores: https://vertx.io/docs/vertx-config/kotlin/#_additional_formats (Unresolved directive in index.adoc - include::hocon-format.adoc[])

[2019-04-02 14:08] razzbee opened #83 "Authentication is required but no CredentialsProvider has been registered"
The Git config store seems not to work with bitbucket private repo, I have manually tested the repo with jGit and it works great, but does not work with vertx

config:
JsonObject()
        .put("url", "https://username@bitbucket.org/username/repo.git")
        .put("path", "local")
         .put("user","user")
         .put("password","password")
        .put("filesets",
            new JsonArray(

[2019-05-21 14:33] kadary opened #85 "Add support for Vault KV-v2 api"
Actually only Vault KV-v1 (https://www.vaultproject.io/api/secret/kv/kv-v1.html) is supported for vault config store.

It will be great to add support for vault KV-v2 API (https://www.vaultproject.io/api/secret/kv/kv-v2.html).

The main difference between the two versions is data structure.
Eg: when reading secrets:
V1:
[code]
V2:
[code]

I can do a PR for this feature if you think it can be integ

[2019-05-21 20:32] kadary commented on #85
Normally Fix by PR #86

Waiting for validation

[2019-05-22 13:40] kadary commented on #85
PR has been merged.

[2019-05-22 13:40] #85 closed

[2019-08-23 15:42] indiketa opened #94 "Add firstScanPeriod to streams"
Use case:
We are using vertx-config to configure a database connection pool, we wanted to replace it with a new one when configuration is changed.

`Retriever.configStream` seems a perfect fit but it is not:
Setting a scan period of 30 seconds causes an inacceptable delay when verticle starts (30 seconds) because the first configuration is received after the scan period.

In order to solve it:
We

[2019-08-26 09:30] hoangnam2261 opened #95 "RefNotFoundException is thrown when start with another branch"
After I got configuration from a branch, I change parameter "path" to get configuration on another branch WITHOUT deleting old local repo, a RefNotFoundException will be thrown with this call stack:
Caused by: org.eclipse.jgit.api.errors.RefNotFoundException: Ref dev can not be resolved
	at org.eclipse.jgit.api.CheckoutCommand.call(CheckoutCommand.java:251)
	at io.vertx.config.git.GitConfigStore.i

[2019-09-18 07:06] SGjorge commented on #83
Hello,

I've got the same issue, can you solve it?

Thanks!

[2019-09-18 14:40] vietj opened #96 "Deprecate ConfigRetriever#getConfigAsFuture static method"
In Vert.x 4 this method is now an instance method of `ConfigRetriever`, so we deprecate this in 3.x

[code]

[2019-09-18 14:42] #96 closed

[2019-09-18 14:43] vietj opened #97 "Futurisation"
In Vert.x 4 we provide method that returns `Future` in addition of their callback counterparts.

[2019-09-18 14:44] #97 closed

[2019-09-23 03:26] razzbee commented on #83
I am using a thirdparty library to load content, parsing json and feeding it as json to the config Object

[2019-09-23 04:33] SINGS079 commented on #83
I can take a look at this issue. Is it specifically with bitbucket or have you experienced it with GitHub and GitLab too?

[2019-09-23 04:37] SINGS079 commented on #67
Can we close this issue as this is already resolved?

[2019-09-23 12:12] ClaudenirFreitas commented on #83
Hi @razzbee @SGjorge , this bug has been fixed in commit: https://github.com/vert-x3/vertx-config/commit/b8e7a4a50695894d3816c49f651ffa96ac188353#diff-e3544bb9aad726e9dd8d0f429a1316e3

Is it posible to test on the new version (4.0.0-milestone3)?

[2019-09-23 22:13] razzbee commented on #83
I will do some tests and post the results here.

[2019-09-24 05:33] vietj commented on #83
thanks @razzbee

[2019-09-24 05:36] vietj commented on #83
do we need to backport this bug in 3.8.2 ?

[2019-09-24 06:21] SINGS079 commented on #95
Any use case for picking configs from different branches?

[2019-09-24 06:34] #67 closed

[2019-09-24 06:34] #83 closed

[2019-09-24 07:41] SINGS079 commented on #81
I think even this is resolved
https://github.com/vert-x3/vertx-config/blob/cea99b55c9186ff65f7b3cbeaeff0202dad59739/vertx-config/src/main/java/io/vertx/config/impl/spi/PropertiesConfigProcessor.java#L117
@akuznetsov-gridgain Can you please verify it.

[2019-09-24 07:45] akuznetsov-gridgain commented on #81
I would like, but I can't, because we dropped Vertex in favor of Spring Boot.
Sorry.

[2019-10-13 22:27] CameronHudson8 opened #98 "Be able to load configuration after packaging as jar."
This is a feature request.

Although locating the configuration at `src/main/resources/conf/config.json`, allows the configuration to be read before packaging, the configuration cannot be read after packaging.

When reading of the configuration is attempted after packaging, it results in
[code]
And the application hangs.

[2019-10-14 13:49] vietj commented on #98
do you mean that the config retriever should look at the classpath for the config file ?

[2019-10-14 13:49] vietj commented on #98
what do you think @cescoffier ?

[2019-10-14 14:19] CameronHudson8 commented on #98
Perhaps. To be honest, I don't understand how Java maps resources and classpaths into the jar when packaging. However, reading a resource file packaged in a jar can be done with `Thread.currentThread().getContextClassLoader().getResourceAsStream(String filepath)`.

[2019-10-14 14:29] vietj commented on #98
actually it is possible if you don't use the default path and configure it from System property _vertx-config-path_. So setting the system property _vertx-config-path_ to _conf/config.json_ should work. I'll contribute so it works in the general case.

[2019-10-14 14:29] CameronHudson8 commented on #98
Actually, I've since found that I get the aforementioned `WARNING` and hanging of the application whenever `ConfigRetriever.getConfig` is called inside a jar, regardless of whether the `conf/config.json` file is present at `src/main/resources` or elsewhere.

I've also tried:
- running the jar with `java -jar target/my-app.jar -conf src/main/resources/conf/config.json`,  but got the same `WARNING`

[2019-10-14 14:30] vietj opened #99 "Default config should be loadable from classpath"
Currently config can be loaded from the classpath and it works when using `vertx-config-path` but not in the default case. It should be possible to resolve the config from the classpath as well.

[2019-10-14 14:37] #99 closed

[2019-10-14 14:37] vietj commented on #98
contributed https://github.com/vert-x3/vertx-config/issues/99

[2019-10-14 14:37] #98 closed

[2019-10-14 14:38] vietj commented on #98
can you have a try with the contribution ?

[2019-10-14 15:19] CameronHudson8 commented on #98
I have to go to class now, but I will try that later today. Thanks for the quick update!

[2019-10-14 16:26] CameronHudson8 commented on #98
Here are the resulting logs. There are warnings about the thread being blocked. Although the reported config path is different from before, `ConfigurationProvider.get` still emits `WARNING: Unable to process the retrieve the configuration null` and the application hangs.

[code]

[2019-10-18 17:54] onyn opened #100 "Missing transitive dependency on jackson-databind in vertx-config-yaml"
vertx-config-yaml example in [vartx-config](https://vertx.io/docs/vertx-config/java/#_yaml_configuration_format) doc throws exception:

<details><summary>Stack trace</summary>

[code]
</details>

Because dependency on `com.fasterxml.jackson.core:jackson-databind` is missing.

<details><summary>Reproducer</summary>

### pom.xml

[code]

### Main.java

[code]
</details>

[2019-10-21 15:02] Stwissel commented on #98
The issue happens because the result of `getFile()` once inside the jar looks like
`/some/external/path/yourjar.jar!/conf/config.json` and Java doesn't deal with the `!`

[2019-11-06 15:20] ukr15 opened #102 "Add HTTP Header to Http Configuration retriever"
In case a configuration object should be retrieved from a REST service requesting a application-specific content type, it must be possible to add this header parameters to the server specification, e.g. by an additional attribute headers with MultiMap as value.

Otherwise, a  a io.vertx.core.json.DecodeException is thrown due to the 415 Unsupported Media Type error.

[2019-11-12 03:32] gaol commented on #102
This should be easy to fix, I will try to make a PR for this.

[2019-11-12 10:52] vietj commented on #102
thanks @gaol

[2019-11-20 12:34] gaol commented on #60
@eutkin There is a PR to support request headers in HTTP Config Retriever: https://github.com/vert-x3/vertx-config/pull/103, would you please check if it works for you? :)

[2019-12-17 09:14] pmlopes commented on #66
With vert.x 4.0.0 OSGi metadata will not be included anymore with the distributed jars.

[2019-12-17 09:14] #66 closed

[2019-12-28 06:20] indiealexh commented on #44
If you want this for worker tasks, is this appropriate for the vertx-config module?
Surely this would be something you use web-client for to poll and pass work to your workers from there?

[2019-12-30 09:57] oylshe1314 opened #106 "java.lang.IllegalArgumentException: unknown configuration store implementation: spring-config-server"
dependencies {

    compile 'io.vertx:vertx-core:4.0.0-milestone4'
    compile 'io.vertx:vertx-config:4.0.0-milestone4'
    compile 'io.vertx:vertx-config-spring-config-server:4.0.0-milestone4'
}

jar {
    manifest {
        attributes "Main-Class" : "io.vertx.core.Launcher", "Main-Verticle" : "com.sk.open.verticle.MainVerticle"
    }

    from {
        configurations.compile.collect {

[2020-01-20 06:31] gaol commented on #106
It looks like the `io.vertx.config.spring.SpringConfigServerStoreFactory` was not detected by the ServiceLoader, since the `vertx-config-spring-config-server` has been added as a `compile` scope dependency, I suggest that you check whether the `META-INF/services/io.vertx.config.spi.ConfigStoreFactory` in the fat jar has correct items.

[2020-01-20 06:41] gaol commented on #100
[jackson-databind has been added](https://github.com/vert-x3/vertx-config/commit/b8bff62225ab9c9ac70e79a82acc0e403bcb8a0b) to vertx-config-yaml from 4.0.0-mileston4, so this should be fixed as well.

[2020-01-20 06:41] #100 closed

[2020-01-22 13:59] gaol opened #108 "Sometimes VaultConfigStoreTestBase#testWithRevokedRootToken fail"
### Version
vertx-config:4.0.0-SNAPSHOT

### Steps to reproduce

In `vertx-config` root folder, run:

Sometimes the `VaultConfigStoreTestBase#testWithRevokedRootToken` will fail with the following exceptions:

<pre>
Jan 22, 2020 9:57:00 PM io.vertx.core.impl.ContextImpl
SEVERE: Unhandled exception
java.lang.AssertionError: Expected true
	at io.vertx.ext.unit.impl.TestContextImpl.reportAssertionErr

[2020-01-22 16:16] vietj commented on #108
it might be a race in the test or a bug

[2020-01-23 06:07] #102 closed

[2020-02-03 07:29] gaol commented on #108
Sometimes I see the following exceptions while it failed:

    Caused by: io.vertx.core.VertxException: Connection was closed

Repeating the single test: `-Dtest=VaultConfigStoreWithTokenCreationTest#testWithRevokedRootToken` can reproduce it as well.

So it looks like an issue in this test, I will investigate it.

[2020-02-05 15:41] MarWestermann opened #110 "ConfigRetriever uses data type double for Integer env values"
### Version

3.7.1

### Context

An Environment variable like PORT=8080 is converted to 8080.0 (double) in config json.

### Do you have a reproducer?

Add Environment Variable PORT = 8080 to your system.

[code]

### Extra

The cause of the issue is in class `io.vertx.config.spi.utils.JsonObjectHelper`. There in convert method a number value would always be converted to a double but a check is mi

[2020-02-06 07:07] #108 closed

[2020-02-26 14:13] UglyHobbitFeet opened #112 "Invalid docs for ConfigRetriever"
It appears that the config retriever is passing futures by default. I don't see anything in the docs about this:
https://vertx.io/docs/vertx-config/js/#_configuring_a_single_verticle

The code below works, and the docs may want to change to reflect something similar

[code]

[2020-02-26 14:25] UglyHobbitFeet opened #113 "ConfigRetriever possibly responsible for 'Multi threaded access request' failures"
I have started to try and use the config retriever to read in a properties file for vertx.  The code looks like below:

[code]

However, when I launch the VM (npm run build;npm start;) I start seeing the following two messages in the  console:
[code]
and
[code]

both with the same stacktrace of

[code]

FYI my current workaround is to use

[code]
and to manually parse the file for properties.  Doi

[2020-03-05 08:30] pmlopes commented on #113
This is a known issue with executeBlocking and graaljs. Currently I have no fix for it as it requires a different way to schedule blocking tasks without calling back to the original thread.

[2020-03-23 19:13] pmlopes commented on #112
the docs for es4x are now being processed on the es4x site, the link above related to `vertx-lang-js` (Nashorn).

[2020-03-23 19:13] #112 closed

[2020-03-23 19:33] UglyHobbitFeet commented on #112
Can we at least modify the top of the existing doc to state that it is only for vertx-lang-js and not ES4X? Possibly providing links for ES4X versions? I feel like I wasted a lot of time not knowing that and that others will do the same.

[2020-03-24 05:39] gaol commented on #110
@MarWestermann doesn't `JsonObject.getInteger()` [convert to Integer](https://github.com/eclipse-vertx/vert.x/blob/3.7.1/src/main/java/io/vertx/core/json/JsonObject.java#L137) in case of `double` ?

[2020-04-02 09:25] pmlopes commented on #113
Hi, I've just test this with:

[code]

And my package.json:

[code]

With the following properties:

[code]

And cannot reproduce the issue anymore. I'll close it and mark it as fixed.

[2020-04-02 09:25] #113 closed

[2020-04-02 18:10] UglyHobbitFeet commented on #113
Good to know! For what it's worth, I ran into a bunch of these threading
errors when using the vertx-mongo 3.8.5 yesterday. I can try with
3.9.0/0.11 and see if things are different

On Thu, Apr 2, 2020 at 5:25 AM Paulo Lopes <notifications@github.com> wrote:

[2020-04-02 20:02] UglyHobbitFeet commented on #113
https://github.com/vert-x3/vertx-mongo-client/issues/224

[2020-04-16 08:43] vietj opened #117 "Update to typesafe config 1.3.4"
Datastax driver com.datastax.oss:java-driver-core:jar:4.2.2:compile depends on com.typesafe:config 1.3.4 which conflicts with the 1.3.0 usage in this project.

We need to bump the version to match the Cassandra client one. cc @tsegismont

[2020-04-16 08:43] #117 closed

[2020-08-25 11:14] ClaudenirFreitas commented on #81
It's working in version `4.0.0-milestone5` and `4.0.0.Beta1`, I tested.
I think that next version `4.0.0` this issue will be solved.

[2020-08-25 15:30] vietj commented on #81
did you check with 3.9 @ClaudenirFreitas ?

[2020-08-25 16:40] ClaudenirFreitas commented on #81
Yes, I did @vietj ! It isn't working with `3.9.2` because the changes were applied in `4.0.0.Beta1`. Check it out: [commit](https://github.com/vert-x3/vertx-config/commit/a1ba8cea40f647f0fa595a103d49677b49258127#diff-a343a368d98b0f8711a943245b627cc2).

[2020-08-25 22:38] vietj commented on #81
I'm back porting to 3.9

[2020-08-25 22:41] #81 closed

[2020-09-23 17:40] romanpierson commented on #71
Hi @Addvilz
I just wanted to open such an issue as well and saw you already did. Do you have an idea what's the status of this, could this be merged into the standard? As it would be really useful.

[2020-09-23 18:33] Addvilz commented on #71
No idea. I worked around it manually deserializing.

[2020-10-19 07:23] #71 closed

[2020-10-19 08:42] Addvilz commented on #71
@vietj ... that did not mean however that this request would not be useful.

[2020-12-17 11:00] peetboy opened #122 "ConfigRetriever doesn't load properties file + small typo in factory name"
### Version
4.0.0.CR1
### Context
I have a verticle with example code for loading properties from documentation but nothing is loaded.

resources/conf/raw.properties
[code]
code in verticle
[code]
After handling of configRetriever.getConfig() the result is empty.

I do have another configuration config.json in resources/conf folder and that one is loaded properly by default.
I have also tried with

[2020-12-23 12:32] mikand13 commented on #122
I have a similar issue. After upgrading to 4.0.0, the configRetriever is no longer able to read and load to cache my application.yaml.

ie this:

`
    @Bean
    fun configStore(): ConfigRetriever {
        val store = configStoreOptionsOf(
            type = "file",
            format = "yaml",
            config = jsonObjectOf(
                "path" to "application.yml"
            )
        )

[2021-01-04 09:01] vietj commented on #122
can you provide a reproducer project for this ?

[2021-01-04 09:14] mikand13 commented on #122
Doing some testing atm. With further research it seems to work fine in normal circumstances but breaks within a docker container. Might be a file system issue i guess, but there has been no change to the image. Will investigate more.

[2021-01-06 20:43] ClaudenirFreitas commented on #122
Hi @peetboy @mikand13 ,

I've just created [this project](https://github.com/ClaudenirFreitas/vertx-config-122) to validate this issue and it's working fine to me... could you check please?

Cheers.

[2021-01-07 22:50] peetboy commented on #122
Tested and now it really is working fine for me as well. I don't know what was the issue then. But at least the typo can be fixed, right? :)

[2021-01-08 07:19] vietj commented on #122
Typo fixed https://github.com/vert-x3/vertx-config/commits/master

[2021-01-08 07:19] vietj commented on #122
I'll fix this as invalid as it could not be reproduced

[2021-01-08 07:19] #122 closed

[2021-01-08 07:28] mikand13 commented on #122
Sounds like a plan. I have not been able to replicate outside of the docker environment either. It is curious that this only appeared after i promoted from CR to release though. No other changes were made 🤔

I ended up converting from a .yml filebased solution to just reading out the spring env as json and pushing it into the configretriever that way. Not what I was looking for but it solves the i

[2021-01-08 09:31] vietj commented on #122
@mikand13 not formally but any kind of contribution is welcome on this project, we will review PR's or we are also pleased having new maintainers on this project

[2021-01-22 08:24] toien commented on #75
for who use gradle shadow plugin, try this:

[code]

[2021-02-22 10:54] sunqb opened #124 "config().getString is not perfect"
### Question
when i do not use "put("raw-data", true)" ,if my config is :
password=123456

I get a value "123456.0" by this method config.getString("password");

but

when I use "put("raw-data", true)", this problem is ok ，but i have an other config
port=80

I get an error when i use config.getInteger("port")，because it was not supported.

### Version
4.0.2

the link is from https://github.com/ecl

[2021-02-22 13:51] vietj commented on #124
can you provide an accurate reproducer ?

[2021-02-23 01:28] sunqb commented on #124
OK。like this:

config code :

    private static ConfigRetrieverOptions initOptions() {

        ConfigRetrieverOptions options = new ConfigRetrieverOptions().setIncludeDefaultStores(true);

        options.setScanPeriod(-1);
        // raw-data
        options.addStore(new ConfigStoreOptions().setType("file").setFormat("properties").setOptional(true)
                .setConfig(new JsonObject().pu

[2021-02-24 06:56] sunqb commented on #124
@vietj if I change config file from config.properties to config.json。it works well。so i think this may by a bug,when i use properties

[2021-02-24 08:22] vietj commented on #124
can you find out what is the actual issue ?

[2021-02-24 09:20] sunqb commented on #124
yes the problem is JsonObjectHelper.convert(String value) ,please look below ,and do you have any other considerations ????

![image](https://user-images.githubusercontent.com/5319644/108978257-624fda00-76c4-11eb-91df-0a24baa29f55.png)

![image](https://user-images.githubusercontent.com/5319644/108978337-71cf2300-76c4-11eb-8eeb-38453b382063.png)

[2021-02-24 09:24] sunqb commented on #124
@vietj  the function should give a chioce ,i think.

eg: store more data of this value, when i use getString ,return "123456"  , when i use getDoule, return 123456.0 , when i use getInteger , return 123456

[2021-02-25 01:47] sunqb commented on #124
@vietj  i use spi to solve this problem ， do you want to fix this problem at vertx 4.0.3 ?

[2021-02-25 08:49] vietj commented on #124
yes we do.

On Thu, Feb 25, 2021 at 2:47 AM sunqb <notifications@github.com> wrote:

[2021-03-11 15:40] #124 closed

[2021-03-30 16:00] Traderjoe95 opened #129 "Allow hierarchical parsing for system properties"
While all supported configuration file formats support hierarchical configuration, the `sys` config store doesn't allow parsing the system properties like that. It would be good to add a `"hierarchical"` option to the config store to facilitate loading just as with the `properties` format. This would enable better interoperability with JSON/YAML/HOCON files.

I will submit a PR with these changes

[2021-03-30 18:16] Traderjoe95 opened #131 "Allow hierarchical parsing of properties files in directory config store"
The `directory` config store only passes the `raw-data` flag down to the `ConfigProcessors`. It would be good to also pass the `hierarchical` flag here for features to align with the `file` config store.

I will submit a pull request for that.

[2021-05-27 09:25] #129 closed

[2021-08-31 02:58] prasanthatl opened #137 "JavaScript, Kotlin, Groovy and Ruby config documentation not available"
### Questions

Documentation links for JavaScript, Kotlin, Groovy and Ruby are not working. It looks like documentation for this was available in previous versions(ex: 3.5), but it has been removed intentionally or accidently in the master version. Please correct the links or delete them.

### Version

master branch

### Context

I encountered an exception which looks suspicious while ...

### Do

[2021-08-31 06:47] vietj commented on #137
this is expected.

- Kotlin and Groovy developer can use the Java version
- JavaScript developer should migrate to https://reactiverse.io/es4x/ project
- Ruby has been dropped in Vert.x 4 due to the lack of interest

[2021-08-31 06:47] #137 closed

[2021-10-05 13:58] vinayak03 opened #139 "Support for kubernetes as a vault auth backend"
#### Read me

Read this first before creating an issue:

- do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.
- you shall create a feature request only when it is general purpose enough.
- make sure that the feature is not already

#### Describe the feature

Kubernetes auth backend for va

[2022-01-31 13:08] tijom opened #141 "Vertx 4.2.1 Redis ConfigReader issue"
Running into some strange issues while using redis 6.2.6 as the config server. The config is stored using the HSET commands

HSET appt-src-svc-local vertx '{"listen.port": 8080}' HSET appt-src-svc-local mongo '{"host":"127.0.0.1", "port":27017}' ...

When using Redis 4, the config can be retrieved correctly. If we switch to V 6.2.6, the RedisConfigStore is unable to parse the Response correctly.

[2022-02-01 10:29] #141 closed

[2022-02-07 11:22] nareshv opened #143 "support CONFIG_FORCE_ environment variables with HOCON config file format"
#### Describe the feature

typesafe config supports overriding the config key/value pairs using environment variables using CONFIG_FORCE_ mechanism

Reference: https://github.com/lightbend/config#optional-system-or-env-variable-overrides

#### Use cases

This will enable overriding configurations using the typesafe config way.

#### Contribution

As vert.x supports both ENV & HOCON formats, not su

[2022-04-20 19:15] riojano0 opened #145 "Update Doc relate to additional formats or move implementations to core-lib META-INF/services"
## Case

When a fat-jar is created with maven following the current documentation and using multiple additional formats causes errors relate with that maven take only the first META-INF.services declared from the dependencies.

eg:
[code]

The **io.vertx.config.spi.ConfigProcessor** will be from the verxt-config ignoring the implementations from the yaml-lib

## Two suggestions:
-A. Update readme

[2022-04-21 01:43] gaol commented on #145
I prefer the option A, to mention that in the doc, would you like contribute ? :smile:

BTW, if you use https://start.vertx.io/, it has `<transformer implementation="org.apache.maven.plugins.shade.resource.ServicesResourceTransformer"/>
` defined to produce the fat jar.

[2022-08-20 08:36] wbkys opened #148 "Feature request: Support for POST in HTTP Config Retriever"
Post is required to link etcd. thank you!

[2022-08-24 12:42] minhaj86 opened #149 "Config retriever doesn't get config for spring-cloud-config with HTTPS"
### Questions

Vertx config retriever does not work with spring-cloud-config server with HTTPS even if the spring-cloud-config server is configured with proper certificate (not self signed) . Underlying exception says "Connection closed"

Sample code:

`        ConfigStoreOptions springCloudStore =
                new ConfigStoreOptions()
                        .setType("spring-config-server")

[2022-08-26 05:24] gaol commented on #149
According to https://vertx.io/docs/vertx-config/java/#_spring_config_server_store, you need to configure SSL/TLS set up in `httpClientConfiguration` of your configuration.

And I don't see any `trustOptions` set up in your code? do you have the peer certificate installed in your JDK?

[2022-08-30 08:28] minhaj86 commented on #149
Tried with httpClientConfiguration, something like this:

 .setConfig(new JsonObject()
     .put("url", url)
     .put("timeout", 60000L)
     .put("httpClientConfiguration", new JsonObject()
         .put("trustAll", true)
         .put("ssl", true)));

But still doesn't work.

[2022-09-23 11:09] alinaeftn opened #151 "Cannot read config file when upgrading to 4.3.3"
### Version

Which version(s) did you encounter this bug ?
When trying to upgrade from 4.3.1 to 4.3.3

### Context

I encountered an exception when trying to load the `conf.yml` file. It works fine in 4.3.1, in 4.3.3 it throws exceptions about not finding the key. We are reading the file from 4 CoroutineVerticles in an async manner and when debugging the exception it seems to be from some paraleli

[2022-09-26 09:26] gaol commented on #151
@alinaeftn could you please elaborate ?

[2022-09-26 13:02] alinaeftn commented on #151
@gaol, what do you mean? What is the information that is missing?

As I stated in the bug, we are hitting a configuration scan issue when upgrading to 4.3.3 from 4.3.1. I attached the exception trace. We are running multiple Coroutines Verticles that start in parallel and all of them are scanning the config. The config is a yaml file and we are using vertx-config-yaml.

[2022-09-26 14:34] gaol commented on #151
@alinaeftn actually I was trying to ask a reproducer. no worries, I have made one at: https://github.com/gaol/tests/tree/master/vertx/config-yaml, and it can be reproduced in Java version.

[2022-09-27 07:05] #151 closed

[2022-09-27 07:08] alinaeftn commented on #151
Thank you so much, @gaol ! Looking forward to 4.3.4 release.

[2022-10-20 10:53] minhaj86 commented on #149
Any update on this?

[2022-10-20 11:21] gaol commented on #149
A reproducer would be helpful to identity the issue. the exception stack trace etc.